*{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    height: 150vh;
    margin-bottom: -200px;
    background-color: black;
    overflow: auto;
    flex-grow: 1;
}

.doglogo{
    height: 70px;
    width: 90px;
    margin-top: 1.9px;
}

.logo{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right:60px;
}

.sidebar_menu{
    position: fixed;
    height: 669px;
    width: 350px;
    background-color:black;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.75rem;
    margin-top: 68px;
    margin-bottom: 200px;
    overflow:scroll; /* Enable scrolling if sidebar content overflows */
    z-index: 1; /* Sidebar is behind the navbar */
    flex: 1;
    position: relative;
}

.heading{
    justify-content: center;
    display: flex;
}

img{
  width: 346px;
  height: 150px;
}

.col{
    border: solid black 2px;
    margin-top: 10px;
}

.navigation-bar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px  #2D2D2D;
    position: fixed;
    top: 0; /* Fixes the navbar at the top */
    z-index: 10; /* Ensures navbar is above everything */
    overflow: visible;

}

.nav-left-part{
    width: 25%;
    line-height: 50px;
    color: black;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-left-part h2{
    font-family:cursive;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}

.nav-right-part{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 50px;
    justify-content: space-evenly;
    margin-left: 300px;
    font-size: large;
}

.btn{
    font-size: large;
}

.btn-outline-primary{
    border: 0;
    box-shadow: 5px  #2D2D2D;
}

.btn-outline-primary:hover{
    background-color:lightgrey;
    cursor: pointer;
    transition: 0.2s;
}


footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 280px;
    margin-top: -240px;
}

.footer{
    border-bottom: solid white 2px;
    margin: 40px 150px 150px;
}


.main-content{
    background-color: black;
    width: 100%;
    padding: 2px;
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
}

.home{
    width:980px;
    height: 252px;
    background-color:#333333;
    margin-top: 77px;
    margin-left: 10px;
    justify-content: left;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.home .mb-3{
    width: 860px;
}
 
.about{
    margin-top: 10px;
    width:980px;
    border-radius: 50px;
    margin-left: 10px;
}


.about-card-img{
    height: 390px;
    width: 980px;
    border-radius: 5px;
}

.card-img-overlay{
    margin-top: 1px;
}