.background{
  background-color: white;
  height:650px;
  padding: 30px;
}

.container {
  padding: 20px;
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgb(67, 65, 65);
  

}
.container:hover{
  transform: translateY(-5px);
  box-shadow: 25px 25px 30px 5px;
  transition: 0.2s;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #0056b3;
}
