/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.btn{
  background-color: yellow;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
